*{
  margin: 0;
  padding: 0; 
}
h1, h2, h3, h4, h5, h6, p{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
header{
  height: 100vh;
  background: linear-gradient(to bottom right, #f75a56, #ef7da0);
}
.navbar{
  margin: 0;
  opacity: 0.8;
  background: linear-gradient(to bottom right, #f75a56, #ef7da0);
}
.navbar-default .navbar-link{
  color: #fff;
  font-size: 25px;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #111;
}
.navbar-header > img{
  height: 50px;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
}
.content{
  width: 100%;
  max-width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
}
.content img{
  width: 100%;
}
.content h1{
  color: #fff;
}