*{
  margin: 0;
  padding: 0; 
}
h1, h2, h3, h4, h5, h6, p{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
hr{
  margin: 0;
}
header{
  background: linear-gradient(45deg, #835b9c, #56f0c1);
  background-size: 200% 200%;
  height: 100vh;
  animation: Gradient 5s linear infinite alternate;
}
@keyframes Gradient {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 100% 0%;
  }
}

.navbar{
  margin: 0;
  opacity: 0.8;
  background: linear-gradient(to bottom right, #271839, #2e1b46);
}
.navbar-default .navbar-link{
  color: #fff;
  font-size: 25px;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #111;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
}
.content, .content1{
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.content{
  max-width: 350px;
  left: 50%;
  top: 50%;
}
.content1{
  left: 50%;
  top: 80%;
}
.content1 h2{
  text-align: center;
  color: #e9e9e9;
}
.content img{
  width: 100%;
  opacity:0;
  animation:load_up 3s forwards;
}
@keyframes load_up{
  from{opacity:0;}
  to{opacity:1;} 
}
#product{
  display: flex; 
}
.panel{
  padding: 0;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.panel-heading>a>img{
  width: 80%;
  padding-left: 25%;
}
.panel-heading>a>img:hover{
  animation: rotation 2s linear 1;
}
@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(90deg);
  }
  40%{
    transform: rotate(180deg);
  }
  60%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.panel-body{
  background: #68b5b2;
  color: #000;
}
#outer{
  width: 1000px;
  overflow: hidden;
  margin:auto; 
  display:flex;
}
#image{
  position: relative;
  width: 1800px;
  animation-name: team;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}
#image img{
  /*float: left;*/
  width: 400px;
  height: 400px;
  margin: 0 10px;
}
figcaption{
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: center;
}
@keyframes team{
  0%, 20%, 100%{
    left: 0;
  }
  25%, 45%{
    left: -42%;
  }
  50%, 70%{
    left: -84%;
  }
  75%, 99%{
    left: -126%;
  }
}
@media screen and (max-height: 600px){
  .content1{
    display: none;
  }
}
/*@media screen and (max-width: 1200px){

}*/
@media screen and (max-width: 600px){
  #outer{
    width: 350px;
    margin: 0 5;
  }
  #image img{
    width: 300px;
    height: 300px;
  }
  #image img, figcaption{
    margin: 0;
  }
  #image{
    width: 1400px;
  }
  @keyframes team{
    0%, 20%, 100%{
      left: 0;
    }
    25%, 45%{
      left: -85.7%;
    }
    50%, 70%{
      left: -171.42%;
    }
    75%, 99%{
      left: -257.12%;
    }
  } 
}
